.html,
body {
    margin: 0;
    padding: 0;
}

[]

h1 {
    margin:0;
    font-weight: normal;
}

h1,
legend,
label,
a
div {
    font-family: 'segoe ui', calibri, sans-serif;
}

a:hover {
    text-decoration: underline;
}

.page--helper-root,
.page--helper,
.element,
.elements {
    padding: .5em 1em;
}

.element {
    border-top:2px dashed #4caf50;
}

.sticky-0 {
    position: sticky;
    top: 0;
}

.elements div {
    margin: 1em 0 0;
    padding: 1em;
    display: block;
    border: 1px solid #ff9800;
}

.element > * {
    width:100%;
}

fieldset {
    border: 1px solid #4caf50;
    margin: 1em 0;
}

label {
    color: #9e9e9e;
}

label a {
    background-color:#2196f3;
    color:#fff;
    text-decoration: none;
}

label a:hover {
    color:#2196f3;
    background-color:#fff;
}

label a:before {
    content:'\1F5C8';
    padding: 1pt 3pt;
}